variables_order = "EGPCS"

apc.enable_cli = 1

upload_max_filesize = "{{ .Env.OWNCLOUD_MAX_UPLOAD }}"
post_max_size = "{{ .Env.OWNCLOUD_MAX_UPLOAD }}"

max_execution_time = {{ .Env.OWNCLOUD_MAX_EXECUTION_TIME }}
max_input_time = {{ .Env.OWNCLOUD_MAX_INPUT_TIME }}

default_socket_timeout = {{ .Env.OWNCLOUD_DEFAULT_SOCKET_TIMEOUT }}

session.save_handler = "{{ .Env.OWNCLOUD_SESSION_SAVE_HANDLER }}"
session.save_path = "{{ .Env.OWNCLOUD_SESSION_SAVE_PATH }}"
{{- if eq .Env.OWNCLOUD_SESSION_SAVE_HANDLER "redis" }}

redis.session.locking_enabled = {{ .Env.OWNCLOUD_REDIS_SESSION_LOCKING_ENABLED }}
redis.session.lock_wait_time = {{ .Env.OWNCLOUD_REDIS_SESSION_LOCK_WAIT_TIME }}
redis.session.lock_retries = {{ .Env.OWNCLOUD_REDIS_SESSION_LOCK_RETRIES }}
{{- end }}
