image: owncloud/base:latest
manifests:
  - image: owncloud/base:amd64
    platform:
      architecture: amd64
      os: linux
  - image: owncloud/base:arm64v8
    platform:
      architecture: arm64
      variant: v8
      os: linux
  - image: owncloud/base:arm32v7
    platform:
      architecture: arm
      variant: v7
      os: linux
