image: owncloud/base:19.10
tags:
  - eoan
manifests:
  - image: owncloud/base:19.10-amd64
    platform:
      architecture: 19.10-amd64
      os: linux
  - image: owncloud/base:19.10-arm64v8
    platform:
      architecture: arm64
      variant: v8
      os: linux
  - image: owncloud/base:19.10-arm32v7
    platform:
      architecture: arm
      variant: v7
      os: linux
