image: owncloud/base:19.04
tags:
  - disco
manifests:
  - image: owncloud/base:19.04-amd64
    platform:
      architecture: 19.04-amd64
      os: linux
  - image: owncloud/base:19.04-arm64v8
    platform:
      architecture: arm64
      variant: v8
      os: linux
  - image: owncloud/base:19.04-arm32v7
    platform:
      architecture: arm
      variant: v7
      os: linux
